.root {
  background-color: #fff;
  border: {
    color: #edeeee;
    radius: 4px;
    style: solid;
    width: 1px;
  }
  display: block;
  font-size: 18px;
  font-weight: 300;
  min-width: 16rem;
  max-width: 20rem;
  outline: none;
  padding: 1rem;
  text-overflow: ellipsis;
  width: 100%;
}

.label {
  display: inherit;
}