.root {
  background-color: #ff0049;
  border: {
    radius: 4px;
    width: 0;
  }
  font: {
    size: 18px;
    weight: 300;
  }
  color: #fff;
  height: 100%;
  outline: none;
  padding: 1rem;
  transition: all ease .6s;

  @media (hover) {
    &:hover {
      background-color: #dd1919;
      cursor: pointer;
    }
  }
}