.cover {
  align-items: center;
  background: {
    attachment: fixed;
    color: #000;
    image: url('./img/background.jpg');
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  display: flex;
  justify-content: center;
  height: 20rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    background: {
      image: linear-gradient(180deg, rgba(67,0,182,1) 0%, rgba(17,16,62,1) 100%); 
    }
    bottom: 0;
    display: block;
    content: '';
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .wrap {
    position: relative;
    z-index: 200;
  }
}