.logo {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    height: 100%;
    width: 100%;
  }

  &.monochrome {
    svg {
      g {
        path, rect {
          fill: #ABABC9;
        }
      }
    }
  }

  &.xs {
    height: 0.75rem;
    width: 1.5rem;
  }

  &.s {
    height: 1.625rem;
    width: 5.25rem;
  }

  &.m {
    height: 2rem;
    width: 6.125rem;
  }

  &.l {
    height: 3.5rem;
    width: 7rem;
  }

  &.xl {
    height: 4rem;
    width: 8rem;
  }
}