.root {
  align-items: center;
  display: flex;
  justify-content: stretch;
  
  .icon {
    margin-right: 0.75rem;

    @media(hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .card {
    align-items: center;
    border: {
      radius: 4px;
    }
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 1rem;
    padding: 1rem;
    transition: background-color ease .3s;

    &.remembered {
      text-decoration: line-through;
    }
    
    &.done {
      background-color: #1BB95E;
  
      .cardFront {
        display: none;
      }
  
      .cardBack {
        display: block;
      }
  
      .cardInner {
        transform: rotateY(180deg);
      }
    }
  }
  
  .cardInner {
    transition: transform .15s;
    transform-style: preserve-3d;
  }
  
  .cardFront,
  .cardBack {
    backface-visibility: hidden;
    font-size: 18px;
    font-weight: 300;
  }
  
  .cardFront {
    color: black;
    display: block;
  }
  
  .cardBack {
    color: white;
    display: none;
    transform: rotateY(180deg);
  }
}