.header {
  align-items: center;
  background: {
    color: #fff;
  }
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  display: flex;
  justify-content: center;
  padding: {
    bottom: 1rem;
    top: 1rem;
  }
  position: sticky;
  top: 0;
  z-index: 300;
}