.footer {
  align-items: center;
  background-color: #11103E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: {
    bottom: 3rem;
    top: 3rem;
  }
  position: relative;
  text-align: center;

  .copyright {
    color: #ABABC9;
    font-size: 0.688rem;
    letter-spacing: 0.4px;
    padding-top: 0.5rem;
  }
}